body {
    background-color: #000;
}
.navbar, .container-fluid, .navbar-brand, .navbar-nav, .nav, .navbar-nav, .navbar-right{
    margin: 0;
    padding: 0;
}
.navbar-header{
    padding-left: 15px;
}
.navbar-brand {
    padding: 15px;
    color: lightgray;
    font-size: 4em;
    float: left;
    height: inherit;
    line-height: inherit;
}

.navbar-nav>li>a {
    line-height: inherit;
}
.nav>li>a {
    display: block;
}

 nav ul li a {
     color: lightgray;
     font-size: 4em;
 }

nav ul li a:hover{
    color: #5FFBFA;
    background-color:#353535 !important;
}

nav {
    background-color: #292929 !important;
}

@media screen and (max-width: 768px) {
    #menu-toggle:not(:checked) + .navbar-nav {
        display: none;
    }
}

.App {
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
}

.status {
    font-weight: bold;
    color: #5FFBFA;
    margin: .5em;
    font-size: 4em;
}

.square {
    font-family: 'Nothing You Could Do', cursive;
    width: 12vw;
    height: 12vw;
    font-size: 10em;
    background-color: #292929;
    border: 5px solid #000;
}
.square:hover{
        background-color: #353535;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: #5FFBFA;
}

.div-row {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}