body {
    background-color: #000;
}
.navbar, .container-fluid, .navbar-brand, .navbar-nav, .nav, .navbar-nav, .navbar-right{
    margin: 0;
    padding: 0;
}
.navbar-header{
    padding-left: 15px;
}
.navbar-brand {
    padding: 15px;
    color: lightgray;
    font-size: 2em;
    float: left;
    height: inherit;
    line-height: inherit;
}

.navbar-nav>li>a {
    line-height: inherit;
}
.nav>li>a {
    display: block;
}

 nav ul li a {
     color: lightgray;
     font-size: 2em;
 }

nav ul li a:hover{
    color: #5FFBFA;
    background-color:#353535 !important;
}

nav {
    background-color: #171719 !important;
}

@media screen and (max-width: 768px) {
    #menu-toggle:not(:checked) + .navbar-nav {
        display: none;
    }
}

.App {
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
}

.status {
    color: #5FFBFA;
    margin: .5em;
    padding-top: 5%;
    font-size: 2em;
}

.square {
    font-family: 'Nothing You Could Do', cursive;
    width: 10vw;
    height: 10vw;
    font-size: 4em;
    background-color: rgba(30,30,33,0.76);
    border: 5px solid #000;
}
.square:hover{
        background-color: #353535;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: #5FFBFA;
}

.div-row {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}