.App {
  text-align: center;
}

.square{
  width: 10vw;
  height: 10vw;
  border: 1px solid black;
  font-size: 4em;
  font-weight: bold;
}

.div-row{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.btn {
  font-size: 14px;
  color: #fff;
  background-color: #3498db;
  cursor: pointer;
  transition: background-color .25s ease-in-out;
}

.btn:hover {
  background-color: #2980b9;
}
